// COLORS
$clr-primary: #55c57a;
$clr-primary-light: #7ed56f;
$clr-primary-dark: #28b485;

$clr-secondary-light: #ffb900;
$clr-secondary-dark: #ff7730;

$clr-tertiary-light: #2998ff;
$clr-tertiary-dark: #5643fa;

$clr-grey-light-1: #f7f7f7;
$clr-grey-light-2: #eee;

$clr-grey-dark: #777;
$clr-grey-dark-2: #999;
$clr-grey-dark-3: #333;

$clr-white: #fff;
$clr-black: #000;
