*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include respond(tab-land) {
    font-size: 95%; //14.4px / 16px (10px'lik root için 9px)
  }

  @include respond(tab-port) {
    font-size: 90%; //12.8px / 16px (10px'lik root için 8px)
  }

  @include respond(lg-screen) {
    font-size: 105%; //19.2px / 16px  (10px'lik root için 12px)
  }
}

body {
  padding: 1.9rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $clr-primary;
  color: $clr-white;
}
